extends ./layout/index

block contenido
    main.container.mt-5 
        .row 
            .col-md-5
                img.img-fluid(src="img/nosotros.jpg", alt="imagen sobre nosotros")
            .col-md-7
             h1 #{pagina}
             blockquote Lorem ipsum, dolor sit amet consectetur adipisicing elit. Recusandae incidunt perferendis dignissimos amet unde. Repellendus quisquam, illo, voluptatem veniam accusantium ducimus iste qui minima tempora maiores deserunt ipsam quibusdam enim.

             p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, provident expedita. Perspiciatis, perferendis! Illum debitis soluta voluptatibus nam ipsam quia laudantium explicabo 
             p omnis ipsum blanditiis! Blanditiis dolorem aut quas quo eaque accusantium totam tempore est minus ducimus?Corporis, mollitia, maiores doloremque deserunt earum quis cum assumenda beatae laborum, neque illo eius nemo cumque perferendis esse ipsam non totam voluptas nesciunt.

    .listado-iconos
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4
                    img.img-fluid.mb-4(src="img/icono_seguridad.svg", alt="icono de seguridad")
                    h2.mb-4 Seguridad
                    p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolores, possimus. Eaque, nemo tempore porro quibusdam doloremque ipsum.

                .col-md-4
                    img.img-fluid.mb-4(src="img/icono_destinos.svg", alt="icono de destinos")
                    h2.mb-4 Destinos 
                    p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolores, possimus. Eaque, nemo tempore porro quibusdam doloremque ipsum.

                .col-md-4
                    img.img-fluid.mb-4(src="img/icono_precios.svg", alt="icono de precio")
                    h2.mb-4 Precios
                    p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolores, possimus. Eaque, nemo tempore porro quibusdam doloremque ipsum.
                
                

